    .board{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    .contato-b{
        background: #393351;
        width: 300px;
    }
    .title-c{
        margin-top: 10%;
        margin-left: 5%;
    }
    .title-c span{
        color: #f7f7f7;
        font-weight: 600;
        font-size: 14px;
    }
    .conts-c{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:15px;
        margin-left: 10%;
        padding-top: 3px;
        cursor: pointer;
    }
    .conts-c:hover{
        background: #4a7afc -webkit-gradient(linear,left top,right top,color-stop(0,#4a7afc),to(#275ef2)) ;
        height: 40px;
        padding-left:15px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .conts-c .img {
        background: #4a7afc;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .conts-c span{
        color: #f7f7f7;
        font-weight: 500;
        margin-left: 10px;
    }
    .conts-c img{
        width: 17px;
        height: 17px;
    }

    .chat-b{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .chat-b .title-chat{
        align-self: center;
        margin-top:15px;
        background: #393351;
        width: 90%;
        height: 60px;
        border-radius: 10px;
    }
    .name-chat{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:15px;
        color: #f7f7f7;
        font-weight: 600;
        font-size: 22px;
    }
    .name-chat img{
        width: 17px;
        height: 17px;
    }
    .name-chat .img {
        background: #4a7afc;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    .msgm-chat{
        
        height: 78%;
    }
    .set-chat{
        display: flex;
        align-items: center;
    }
    .set-chat input{ 
        background: #393351;
        border:none;
        width: 85%;
        height: 50px;
        border-radius: 10px;
        padding-left: 20px;
        color: #9f9daa;
        font-size: 15px;
        font-weight: 600;
        margin-left: 15px;
    }
    .set-chat button {
        border: none;
        background: #28a745 -webkit-gradient(linear,left top,right top,color-stop(0,#2fba4e),to(#137029));
        width: 10%;
        margin-left: 15px;
        height: 47px;
        border-radius: 10px;
        color: #f7f7f7;
        font-size: 20px;
        font-weight: 900
    }
    .set-chat button:hover {
        opacity: 0.6;
    }